@import '@elastic/eui/src/global_styling/variables/index';

.view-alerts {
  .euiListGroupItem__label {
    width: 100%;
  }

  &__list {
    overflow-y: auto;
    max-height: 60vh;
  }

  &__sev {
    background-color: transparent;
    border-left-width: 4px;
    padding: 0 10px;
  }
}
