.create-alerting-monitor {
  height: 100%;

  .euiFlexItem.create-alerting-monitor__aside {
    flex: 0 0 auto;
    width: 400px;

    &--full {
      width: 100%;
      flex: 1 1 auto;
    }
  }

  &__scroll {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 84px;
  }

  .euiAccordion__button {
    align-items: flex-start;

    &:hover,
    &:focus {
      text-decoration: none;

      h6 {
        text-decoration: underline;
      }
    }
  }

  &__flex-group {
    height: 100%;
  }

  &__vis {
    height: 400px;

    &--hidden {
      display: none;
    }
  }

  &__flyout {
    &.euiFlyout--small {
      width: calc(400px + 72px);
    }
  }
}
