.create-new {
  &__vis {
    &--hidden {
      display: none;
    }
  }

  &__title-and-toggle {
    display: flex;
    justify-content: space-between;
  }

  &__title-icon {
    margin-right: 10px;
    vertical-align: middle;
  }

  .visualization {
    padding: 0;
    height: 400px;
  }
}
