/*
* Copyright OpenSearch Contributors
* SPDX-License-Identifier: Apache-2.0
*/

.related-monitor-link .euiLink__externalIcon {
  display: none;
}

.associated-alerts-table-details-row {
  .associated-alerts-table-details-row-value {
    font-weight: 600;
    color: $euiColorDarkestShade;
  }
}